@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

:root {
  --primary: #22a39f;
  --secondary: #f3efe0;
  --dark: #222222;
  --gray: #434242;
}

body {
  font-family: "Fira Sans", sans-serif;
}

/*NAV*/
.top-icon {
  z-index: 20;
  height: 3rem;
  width: 100%;
  background-color: var(--primary);
  padding: 1rem;
  display: flex;
  justify-content: center;
  position: fixed;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  z-index: 20;
}
.navbar-nav {
  display: inline-block;
  font-size: 2rem;
}
.navbar-nav li {
  margin: 3rem 0;
}

.navbar-nav li a:hover {
  color: var(--primary);
}

.navOpened {
  height: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  transition: 0.5s;
  top: 3rem;
  z-index: 20;
  background-color: var(--gray);
}

/*ANIMACIÓN SCROLL DOWN*/
.reveal {
  z-index: -10;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*PRESENTACION*/

.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: url(../img/bg.png);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.774);
}

.lineUp {
  animation: 2s anim-lineUp ease-out;
}

.lineUp2 {
  animation: 2s anim-lineUp ease-out 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.lineUp3 {
  animation: anim-lineUp ease-out;
  animation-duration: 2s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.lineUp4 {
  animation: anim-lineUp ease-out;
  animation-duration: 2s;
  animation-delay: 1.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.presentacion i {
  font-size: 1.5rem;
}
/*TIMELINE FORMACIÓN: */
#conference-timeline {
  position: relative;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
}

#conference-timeline h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

#conference-timeline .timeline-start,
#conference-timeline .timeline-end {
  display: table;
  text-transform: uppercase;
  background: var(--gray);
  padding: 1rem 2rem;
  max-width: 5%;
  width: 100%;
  margin: 0 auto;
}

#conference-timeline .conference-center-line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: #00b0bd;
  z-index: -1;
}
#conference-timeline .conference-timeline-content {
  padding-top: 67px;
  padding-bottom: 67px;
}
.timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
.timeline-article .content-left-container,
.timeline-article .content-right-container {
  max-width: 44%;
  width: 100%;
}
.timeline-article .timeline-institution {
  display: block;
  text-align: right;
}
.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  width: auto;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
  padding: 27px 25px;
}
.timeline-article p {
  margin: 0 0 0 60px;
  padding: 0;
  position: relative;
}
.timeline-article p span.article-number {
  position: absolute;
  top: 10px;
  left: -60px;
  color: #00b0bd;
}
.timeline-article .content-left-container {
  float: left;
}
.timeline-article .content-right-container {
  float: right;
}
.timeline-article .content-left:before,
.timeline-article .content-right:before {
  position: absolute;
  top: 20px;
  font-size: 1rem;
  opacity: 0;
}
.timeline-article .content-left:before {
  content: "\f0da";
  right: -8px;
}
.timeline-article .content-right:before {
  content: "\f0d9";
  left: -8px;
}
.timeline-article .meta-date {
  position: absolute;
  top: 0;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  color: #fff;
  border-radius: 100%;
  background: var(--primary);
}
.timeline-article .meta-date .date,
.timeline-article .meta-date .month {
  display: block;
  text-align: center;
  font-weight: 900;
}
.timeline-article .meta-date .date {
  font-size: 30px;
  line-height: 40px;
}
.timeline-article .meta-date .month {
  font-size: 18px;
  line-height: 10px;
}

/* CAROUSEL*/
.vh-75 {
  height: 75vh;
}

.carousel-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.857);
  transition: top 1s;
}

/*SKILLS*/

.progress {
  margin: 2rem;
  height: 2rem;
  position: relative;
  display: flex;
  justify-content: start;
}

.progress h3 {
  color: white;
  text-shadow: black 1px 0px 10px;
  position: absolute;
  padding-left: 1rem;
}

.progress-bar {
  background-color: var(--primary);
}

.graficos {
  background-color: var(--gray);
}

.idiomas {
  background-color: var(--dark);
}

@keyframes animacionBarra {
  0% {
    width: 20%;
  }
  100% {
    width: 100%;
  }
}

/*CURSOS*/
.card {
  background: linear-gradient(1deg, #22a39f, #000000);
  background-size: 400% 400%;
  height: 10rem;
}
.card:hover {
  transform: scale(1.1);
  background: linear-gradient(2deg, #22a39f, #222222);
  background-size: 400% 400%;
  animation: gradiente 15s ease infinite;
}

@keyframes gradiente {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}
/*PORTFOLIO*/

.github {
  font-size: 0.9rem;
}
.btn-dark {
  width: 10rem;
  font-size: 2rem;
  transition: all 0.5s;
  cursor: pointer;
}

.btn-dark span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-dark span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5rem;
  transition: 0.5s;
}

.btn-dark:hover span {
  padding-right: 2rem;
}

.btn-dark:hover span:after {
  opacity: 1;
  right: 0;
}

/* FORMULARIO*/
.focus {
  box-shadow: var(--primary) 0px 0px 6px 0px;
}
.error {
  box-shadow: red 0px 0px 6px 0px;
}

/*FOOTER*/
footer i {
  font-size: 2rem;
}

@media only screen and (max-width: 830px) {
  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    margin: 0;
  }
  #conference-timeline .conference-center-line {
    margin-left: 0;
    left: 50px;
  }
  .timeline-article .meta-date {
    margin-left: 0;
    left: 20px;
  }
  #conference-timeline h5{
    font-size: 0.8rem; 
  }
  #conference-timeline h3 {
    font-size: 1rem;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 110px;
    min-height: 53px;
  }
  .timeline-article .content-left-container {
    margin-bottom: 20px;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    padding: 10px 25px;
    min-height: 65px;
  }
  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .timeline-article .content-right:before {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .timeline-article p {
    margin: 0;
  }
  .timeline-article p span.article-number {
    display: none;
  }
}

@media (min-width: 1025px) {
  /*PRESENTACION*/
  .presentacion{
    box-shadow: none; 
  }
  /*CAROUSEL*/
  .carousel-custom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    right: 0;
    top: 80%;
    height: 100%;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.353);
  }

  .carousel-custom p {
    font-size: 1.5rem;
    opacity: 0%;
    transition: opacity 1s ease-in;
  }

  .carousel-custom:hover {
    flex-direction: row;
    justify-content: space-around;
    align-items: star;
  }

  .carousel-custom:hover h1 {
    display: none;
  }
  .carousel-custom:hover p {
    display: block-inline;
    opacity: 100%;
  }

  .carousel-custom:hover h1 {
    transition: float 2s ease-in-out;
  }

  .github {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
    text-shadow: black 1px 0 2px;
    animation: maquinaEscribir 4s steps(38) 1s 1 normal both, blink 1s steps(1);
    animation-iteration-count: infinite;
  }
  @keyframes maquinaEscribir {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
  }
}
